@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(232, 227, 255);
}

/*************************************************** Useeffect1 */
.content {
  font-family: "Poppins", sans-serif;
  background-color: rgb(232, 227, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content .count {
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
  margin: 0 2rem;
}

.content .btncontainer {
  background-color: white;
  box-shadow: 0 5px 3px 0 lightgray;
  color: rgb(211, 68, 68);
  outline: none;
}

/*************************************************** Form */
.form_container {
  font-family: "Poppins", sans-serif;
  background-color: rgb(232, 227, 255);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form .myform {
  background-color: rgb(118, 94, 255);
  padding: 1rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form .myform .myinput {
  width: 100%;
  padding: 0.3rem;
  margin: 1rem;
  border: 1px solid white;
  outline: none;
  border-radius: 3px;
  font-size: 1rem;
}

.form .btnsubmit {
  background-color: rgb(241, 63, 63);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: block;
  margin: 1rem auto;
  border-radius: 5rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

.table_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table_container .mytable {
  background-color: rgb(118, 94, 255);
  color: white;
  padding: 1rem;
  border-radius: 3px;
  width: 50%;
  text-align: center;
}

.table_container .mytable th,
.table_container .mytable td {
  padding: 1rem;
}

/*************************************************** Arraycontainer */
.array_container {
  background-color: rgb(156, 139, 255);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.array_container .list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array_container .list ul li {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(54, 57, 250);
  list-style: none;
  margin: 1rem 0;
  color: white;
  width: 100%;
}

.array_container .list .btnremove {
  background-color: rgb(241, 63, 63);
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
  border-radius: 5rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

.array_container .list .btnclear {
  background-color: rgb(241, 63, 63);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: block;
  margin: 1rem auto;
  border-radius: 5rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

/*************************************************** Objectcontainer */
.object_container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.object_container h4 {
  background-color: white;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}

.object_container .btnclear {
  background-color: rgb(241, 63, 63);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: block;
  margin: 1rem auto;
  border-radius: 5rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

/*************************************************** Effectapi */
.effectapi {
  font-family: "Poppins", sans-serif;
}

.effectapi .header {
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgb(232, 227, 255);
}

.effectapi .userbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.effectapi .userbox .user {
  padding: 1rem;
  border-radius: 3px;
  background-color: rgb(232, 227, 255);
  margin: 1rem 0;
  width: 30%;
}

.effectapi .userbox .user .username {
  text-align: center;
}

.effectapi .userbox .user .usercontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.effectapi .userbox .user .usercontent .userimage {
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
}

.effectapi .userbox .user .usercontent .userimage img {
  width: 100%;
}

.effectapi .userbox .user .usercontent .useracinfo {
  background-color: rgb(241, 63, 63);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.effectapi .userbox .user .usercontent .userinfo .userwork {
  text-align: center;
  color: gray;
}

.effectapi .userbox .user .usercontent .useracinfo .userinfoinner h6 {
  margin: 0 0.3rem;
}

.effectapi .userbox .user .usercontent .useracinfo .userinfoinner h6 {
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
}

.effectapi .userbox .user .usercontent .useracinfo .userinfoinner p {
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

/*************************************************** Ref */
.name_container {
  background-color: rgb(255, 221, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name_container .mynameform {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(241, 63, 63);
  width: 20%;
}

.name_container .mynameform input {
  width: 100%;
  border: 1px solid gold;
  padding: 0.5rem;
  outline: none;
}

.name_container .mynameform .btn {
  margin: 1rem auto;
  display: block;
}

.name_container h1 {
  margin-top: 3rem;
  font-weight: 100;
}
